* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

svg {
  filter: drop-shadow(5.4px 10.7px 10.7px hsl(0deg 0% 0% / 0.33));
}
body {
  background: rgb(94, 96, 206);
  background: linear-gradient(
    79deg,
    rgba(94, 96, 206, 1) 0%,
    rgba(100, 223, 223, 1) 50%,
    rgba(128, 255, 219, 1) 100%
  );
  height: 200rem;
}

.landingPageContent {
  display: block;
  margin: auto;
}

h1 {
  margin-top: 5rem;
  text-align: center;
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.6);
}
h2 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.6);
}

.runExperiment,
.getStarted,
.makeChart {
  background: linear-gradient(to bottom right, #2af598, #08aeea);
  border: 0;
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 2rem auto;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  width: 15rem;
  padding: 0.5rem;
}

.getStarted:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1),
    -0.125rem -0.125rem 1rem rgba(8, 74, 234, 0.8),
    0.125rem 0.125rem 1rem rgba(42, 245, 152, 0.8);
}

.getStarted:not([disabled]):hover {
  box-shadow: -0.125rem -0.125rem 1rem rgba(8, 74, 234, 0.8),
    0.125rem 0.125rem 1rem rgba(42, 245, 152, 0.8);
}

.hostName {
  justify-content: center;
  margin-top: 4.5rem;
  margin-bottom: 4rem;
  width: 15rem;
  padding: 1rem;
  border-radius: 50px;
  text-align: center;
  outline: none;
  font-size: 20px;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.07);
  color: grey;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.testForm {
  display: grid;
  place-items: center;
  margin-top: 7rem;
  margin-left: 40rem;
  margin-right: 40rem;
  margin-bottom: 4rem;
  padding-bottom: 2rem;

  /*Glass morphism css*/

  background-color: rgba(255, 255, 255, 0.07);
  box-shadow: 0 8px 32px 0 rgba(8, 7, 16, 0.6);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.18);
}

.resourceParameters {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.resourceParameters1,
.resourceParameters2,
.resourceParameters3 {
  padding: 1rem;
  border-radius: 50px;
  text-align: center;
  outline: none;
  font-size: 20px;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.07);
  color: grey;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-bottom: 2rem;
}

.blob1 {
  position: absolute;
  left: 50%;
  width: 35rem;
  z-index: -1;
}
.blob2 {
  position: absolute;
  top: 115%;
  left: 15%;
  width: 45rem;
  z-index: -1;
}

.computingResources {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  white-space: nowrap;
  color: grey;
}
label {
  display: block;
}

.hidden {
  display: none;
}
.hr {
  position: absolute;
  top: 8.5rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  height: 0px;
  width: 25rem;
  fill: rgba(255, 255, 255, 0.5);
}
.ioModes,
.allocationStrategy {
  justify-content: center;
  margin-bottom: 2rem;
  width: 17rem;
  padding: 1rem;
  border-radius: 50px;
  text-align: center;
  outline: none;
  font-size: 20px;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.07);
  color: grey;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.radioButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.internalTestForm {
  display: grid;
  place-items: center;
}

/* Center the loader */
#loader {
  position: relative;
  z-index: 1;
  width: 60px;
  height: 60px;
  margin-top: 30%;
  margin-bottom: 30%;
  border: 10px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border-top: 10px solid #08aeea;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#myDiv {
  display: none;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  /* all css here goes for mobile .. i'm not sure about how much pixel though :D */
  html {
    min-height: 100%;
    width: 100%;
  }
  svg {
    width: 10rem;
    height: 10rem;
  }

  h1 {
    margin-top: 5rem;
    text-align: center;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.6);
  }
  .testForm {
    margin-left: 10px;
    margin-right: 10px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.07);
    box-shadow: 0 8px 32px 0 rgba(8, 7, 16, 0.6);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.18);
  }

  .blob1 {
    position: absolute;
    left: 10%;
    width: 10rem;
    z-index: -1;
  }
  .blob2 {
    position: absolute;
    top: 115%;
    left: 15%;
    width: 22rem;
    z-index: -1;
  }

  .hr {
    position: absolute;
    top: 11rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    height: 0px;
    width: 18rem;
    fill: rgba(255, 255, 255, 0.5);
  }
  body {
    background: rgb(94, 96, 206);
    background: linear-gradient(
        79deg,
        rgba(94, 96, 206, 0.8) 0%,
        rgba(100, 223, 223, 1) 50%,
        rgba(128, 255, 219, 1) 100%
      )
      fixed;
    width: 100%;
  }

  .runExperiment,
  .getStarted,
  .makeChart {
    background: linear-gradient(to bottom right, #2af598, #08aeea);
    border: 0;
    border-radius: 25px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    margin: 2rem auto;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
      sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    width: 15rem;
    padding: 0.2rem;
  }
}

@media only screen and (max-width: 800px) {
  /* all css here goes for tablets */
}

@media only screen and (max-width: 1366px) {
  /* all css here goes for screens with 1366px */

    svg {
    width: 54rem;
    height: 24rem;
  }
  body {
    background: rgb(94, 96, 206);
    background: linear-gradient(
        79deg,
        rgba(94, 96, 206, 0.8) 0%,
        rgba(100, 223, 223, 1) 50%,
        rgba(128, 255, 219, 1) 100%
      )
      fixed;
    width: 100%;
  }

    .blob1 {
    position: absolute;
    left: 50%;
    width: 30rem;
    z-index: -1;
  }
  .blob2 {
    position: absolute;
    top: 115%;
    left: 0%;
    width: 40rem;
    z-index: -1;
  }

  .testForm {
    display: grid;
    place-items: center;
    margin-top: 7rem;
    margin-left: 16rem;
    margin-right: 40rem;
    margin-bottom: 4rem;
    padding-bottom: 2rem;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.07);
    box-shadow: 0 8px 32px 0 rgba(8, 7, 16, 0.6);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.18);
  }
}
